/*----------------------------------global font */
@font-face {
  font-family: primary;
  src: url("./AntonSC-Regular.ttf");
}
@font-face {
  font-family: secondary;
  src: url("./Tiny5-Regular.ttf");
}
H1{
    font-family: secondary;
    color: primary;
}
H6{
    font-family: secondary;
    color: white;
}
html{
    /* style for whole web application */
    --lumo-primary-color:green;
    overflow: hidden;
}
.header{
    /* style for upper header */
    background-color: black;
    color: white;
    font-family: primary;
    font-size: 10vw;
}
.desc{
    /* style for upper header description */
    background-color: black;
    color: white;
    font-family: secondary;
    font-size: 5vw;
}
.homeview{
    /* style for main page with headers and buttons /home */
    background-color: black;
    color: white;
}
.homeview H1{
    /* page main header text style */
    color: white;
    font-family: primary;
}
.homeview H6{
    /* page main description style */
    color: white;
    font-family: secondary;
}
.homeview H4{
    /* page main description style */
    color: white;
    font-family: secondary;
}
.redirectbtn{
    /* style for application header buttons*/
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}
.redirectbtn-links{
    /* style for application link buttons on the main screen */
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    font-family: secondary;
}
.redkrectbtn-links:hover{
    /* style for application link buttons on the main screen when hovered */
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-family: secondary;
}
vaadin-button {
    /* styles for application redirect buttons */
    font-family: secondary;
}
vaadin-button {
    color: white;
    background-color: black;
    border-radius: 25px;
    border: white 1px solid;
}
.input{
    --vaadin-input-field-background: black;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: white;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-label-color: white;
}
.footer{
    /* style for lower footer */
    position: relative;
    left: 45%
}
.cardlayout{
    /* style for card layout */
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: white 1px solid;
    width: 40%;
    height: 60%;
    border-radius: 25px;
}

.window::part(overlay){
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}
.window::part(backdrop){
     background-color: transparent;
 }
 .window-white::part(overlay){
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.window-white::part(backdrop){
     background-color: transparent;
 }