html{
 --lumo-primary-color:green;
 --lumo-font-family: BlinkMacSystemFont;
 --background-color: black;
}
vaadin-button {
  --lumo-font-family: BlinkMacSystemFont;
}
vaadin-button.redirectbtn{
    --lumo-primary-text-color: white;
}
.header{
    font-color: green;
}
.desc{
    font-color: green;
}
.footer{
    position: relative;
    left: 40%
}